.page.theme_dark {
  --button-color: var(--pink);
  --page_background: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --text-main-color: var(--black);
  --additional-color: var(--black);
  --decoration-color: var(--pink);

  --text-button-color: var(--black);
  --text-additional-color: #f1b2ce;
  --transparent-button-color: rgba(255, 0, 112, 0.4);
  --display-rec: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-color: var(--pink);
    --page_background: url("../images/cover-image-dark.png");
    --title-color: #db00ff;
    --text-main-color: var(--black);
    --text-button-color: var(--black);
    --text-additional-color: #f1b2ce;

    --additional-color: var(--black);
    --decoration-color: var(--pink);
    --transparent-button-color: rgba(255, 0, 112, 0.4);
    --display-rec: flex;
  }
}
