.page.theme_light {
    --button-color: var(--gray);
    --page_background: url("../images/cover-image-light.png");


    --additional-color: #FFF1F7;
    --decoration-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-button-color: var(--gray);
    --text-additional-color: var(--gray);
    --transparent-button-color: rgba(50, 49, 45, .4);
    --display-rec: none;

}

@media (prefers-color-scheme: light) {
    :root {
        --button-color: var(--gray);
        --page_background: url("../images/cover-image-light.png");

        --text-button-color: var(--gray);
        --text-additional-color: var(--gray);
        --additional-color: #FFF1F7;
        --decoration-color: #FF8DCB;
        --title-color: #FFC2E6;
        --transparent-button-color: rgba(50, 49, 45, .4);
        --display-rec: none;
    }
}

